# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment directories
env/
venv/
ENV/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Pyre type checker
.pyre/

# MyPy type checker
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Log files
*.log

# Environment variables file
.env

# Ignore GCP service account secret key
secret.json

# Node.js dependencies
node_modules/

# Docker files
Dockerfile
docker-compose.yml

# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars

# Other files
*.DS_Store
Thumbs.db
archives/
demo.mp4